anime_recomendation_env/
artifacts/raw/
artifacts/processed/
artifacts/models/
artifacts/weights/
artifacts/model_checkpoint/
MLOPS_PROJECT_2.egg-info/
serious-cat-455501-d2-6664e3bc746a.json
tester.py
stara.txt

